@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Karla:ital,wght@0,300;0,600;1,400&display=swap');

.App {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  height: 50px;
  background: #fff;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

.text-logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  margin-right: auto;
}

nav a {
  font-size: 1.2rem;
  padding-right: 1.5rem;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

.mission {
  border-right: 1px solid black;
}

.profile {
  padding-left: 1.5rem;
}
